<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version:</string>
			<key>Key</key>
			<string>versionNumber</string>
			<key>DefaultValue</key>
			<string>1.4.1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Are you a middle school student?</string>
			<key>Key</key>
			<string>isMiddleSchool</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Shade rows when you have study hall?</string>
			<key>Key</key>
			<string>shouldShadeStudyHall</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show row for extracurricular activities?</string>
			<key>Key</key>
			<string>shouldShowExtraRow</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>Morning</string>
				<string>Afternoon</string>
				<string>Evening</string>
			</array>
			<key>Title</key>
			<string>Notification Time</string>
			<key>Key</key>
			<string>shouldNotifyWhen</string>
			<key>DefaultValue</key>
			<string>Evening</string>
			<key>Titles</key>
			<array>
				<string>Morning (7AM)</string>
				<string>Afternoon (4PM)</string>
				<string>Evening (7PM)</string>
			</array>
		</dict>
	</array>
	<key>Title</key>
	<dict>
		<key>Type</key>
		<string>PSTextFieldSpecifier</string>
		<key>Title</key>
		<string></string>
		<key>Key</key>
		<string></string>
	</dict>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
